*.bak
db/
incremental_db/
work/
output_files/
*.qdf
*.qpf
*.qws
vsim.wlf
*.qsf
*.bkp
single-cycle/*.bak
single-cycle/db/
single-cycle/incremental_db/
single-cycle/work/
single-cycle/output_files/
single-cycle/*.qdf
single-cycle/*.qpf
single-cycle/*.qws
single-cycle/vsim.wlf
single-cycle/*.qsf
single-cycle/*.bkp
pipeline/*.bak
pipeline/db/
pipeline/incremental_db/
pipeline/work/
pipeline/output_files/
pipeline/*.qdf
pipeline/*.qpf
pipeline/*.qws
pipeline/vsim.wlf
pipeline/*.qsf
pipeline/*.bkp
